{
	"parser": "@babel/eslint-parser",
	"env": {
    "browser": true,
    "es2021": true
  },
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 12,
		"requireConfigFile": false,
		"ecmaFeatures": {
      "jsx": true
    },
		"babelOptions": {
			"presets": ["@babel/preset-react"]
		}
},
	"extends": [
		"airbnb",     
		"plugin:prettier/recommended"
	],  
	"plugins": [
		"react",
		"prettier"
  ],
	"settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    },
    "react": {
      "version": "latest"
    }
  },
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-import-module-exports": ["error", {
			"exceptions": ["**/*/config-overrides.js"]
	}],
	"no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state"] }],
	"no-unused-expressions": 0,
	"no-unused-vars": 1,
	"import/order": [
		"warn",
		{
			"groups": ["builtin", "external", "internal", ["sibling", "parent"]],
			"pathGroups": [
				{
					"pattern": "react",
					"group": "external",
					"position": "before"
				},
				{
					"pattern": "@/**",
					"group": "internal",
					"position": "after"
				}
			],
			"pathGroupsExcludedImportTypes": ["builtin", "internal"],
			"newlines-between": "always",
			"alphabetize": {
				"order": "asc",
				"caseInsensitive": true
			}
		}
	]
  }
}